<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('bundles/leaderBoard/css/styles.css') }}">
    <title></title>
</head>

<body>
<a href="deathsmiles">deathsmiles</a>
<a href="mushihimesama">mushihimesama</a>
<a href="ikaruga">ikaruga</a>
<ul>
    <li><a href="../crimzon_clover/type1">Type 1</a></li>
    <li><a href="../crimzon_clover/type3">Type 3</a></li>
    <li><a href="../crimzon_clover/typeZ">Type Z</a></li>
</ul>
<iframe width="500" height="350" src="{{ type }}" frameborder="0"
        allowfullscreen>
</iframe>

</body>
</html>