<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('bundles/leaderBoard/css/styles.css') }}">
    <title></title>
</head>

<body>
<a href="mushihimesama">mushihimesama</a>
<a href="crimzon_clover">crimzon_clover</a>
<a href="ikaruga">ikaruga</a>

<table>
    <tr>
        <th>Windia</th>
        <th>Casper</th>
        <th>Foliett</th>
        <th>Rosa</th>
        <th>Sakura</th>
    </tr>
    <tr>
        <th><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763345-windia_img.jpg"></th>
        <th><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763341-caspar_img.jpg"></th>
        <th><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763342-foret_img.jpg"></th>
        <th><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763347-rosa_img.jpg"></th>
        <th><img src="http://static.giantbomb.com/uploads/scale_small/0/112/763348-sakyura_img.jpg"></th>

    </tr>

</table>
</body>
</html>