<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('bundles/leaderBoard/css/styles.css') }}">
    <title></title>
</head>

<body>


<a href="deathsmiles">deathsmiles</a>
<a href="mushihimesama">mushihimesama</a>
<a href="crimzon_clover">crimzon_clover</a><br><br>

<form>
    <h4>Change your color them !</h4>
    <input type="radio" name="color" value="white">White
    <input type="radio" name="color" value="black">Black
    <input type="submit" value="Change Now !">
</form>

<style>
    body {
        background: {{ color }};
        color: {{ fontColor }};
    }
</style><br><br>

<iframe width="500" height="350" src="https://www.youtube.com/embed/XUDd2ZdRlOE" frameborder="0"
        allowfullscreen>

</iframe>


<table>
    <tr>
        <th>
            Chain
        </th>
        <th>
            Points
        </th>
    </tr>
    <tr>
        <td>
            1st Chain
        </td>

        <td>
            100 points
        </td>
    </tr>
    <tr>
        <td>
            2nd Chain
        </td>
        <td>
            200 points
        </td>
    </tr>
    <tr>
        <td>
            3rd Chain
        </td>
        <td>
            400 points
        </td>
    </tr>
    <tr>
        <td>
            4th Chain
        </td>
        <td>
            800 points
        </td>
    </tr>
    <tr>
        <td>
            5th Chain
        </td>
        <td>
            1600 points
        </td>
    </tr>
    <tr>
        <td>
            6th Chain
        </td>
        <td>
            3200 points
        </td>
    </tr>
    <tr>
        <td>
            7th Chain
        </td>
        <td>
            6400 points
        </td>
    </tr>
    <tr>
        <td>
            8th Chain
        </td>
        <td>
            12800 points
        </td>
    </tr>
    <tr>
        <td>
            Max Chain
        </td>
        <td>
            25600 points
        </td>
    </tr>
</table>
</body>
</html>