<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('bundles/leaderBoard/css/mushiStyle.css') }}">
    <title></title>
</head>

<body>
<a href="deathsmiles">deathsmiles</a>
<a href="crimzon_clover">crimzon_clover</a>
<a href="ikaruga">ikaruga</a><br><br><br>

<img src="http://simplyhaiku.com/SHv2n1/haiga-modern/images-takeshita/rose-350.jpg"><br><br><br>
<img src="https://i.ytimg.com/vi/Wt4f-h7YW6w/hqdefault.jpg">
</body>
</html>